// VARIABLES //
$verde: #70d893;
$violeta: #9370d8;
$font-texto: 150% "Montserrat";

.texto--formulario--titulo{
    text-align: center;
    margin: 35px;
    h1{
       font: $font-texto;
       font-weight: bold;
    }
}
.formulario{
    display: flex;
    justify-content: center;
    .texto--apellido{
        background-color: #fff;
    }
    .texto--nombre{
        background-color: #fff;
    }
    .texto--mail{
        background-color: #fff;
    }
    .texto--edad{
        background-color: #fff;
    }
    .texto--problema{
        background: #fff;
    }
}