// VARIABLES //
$blanco: #fff;
$font-texto: 150% "Montserrat";

.texto--formulario--titulo{
    text-align: center;
    margin: 35px;
    h1{
       font: $font-texto;
       font-weight: bold;
    }
}
.formulario{
    display: flex;
    justify-content: center;
    label{
        padding: 5px;
    }
    .texto--apellido{
        background-color: $blanco;
    }
    .texto--nombre{
        background-color: $blanco;
    }
    .texto--mail{
        background-color: $blanco;
    }
    .texto--edad{
        background-color: $blanco;
    }
    .texto--problema{
        background: $blanco;
    }
}