// variables
$font-redes: 35px;
$font-texto: 150% "Montserrat";
$verde: #70d893;
$violeta: #9370d8;

.bg--footer{
    background: rgb(181,167,167);
    background: linear-gradient(90deg, rgba(181,167,167,1) 0%, rgba(186,172,172,1) 53%, rgba(208,194,194,1) 96%, rgba(143,132,132,1) 100%);
}

.info--empresa{
    font: $font-texto;
    padding-top: 100px;
    font-weight: bold;
    text-align: center;
    a{
        color: black;
    }
}
.texto--mapa{
    margin-left: 5px;
}
.mapa{
    width: 335px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(34,32,32);
    border-radius: 30px;
    margin-left: 10px;
}
.mail--contacto{    
    font: $font-texto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}
.container--footer{
    background: rgb(34,32,32);
    background: linear-gradient(90deg, rgba(34,32,32,1) 0%, rgba(33,30,30,1) 52%, rgba(59,49,49,1) 99%);
    padding: 0px 5% ;
    margin: 0 ;
    .footer--copyright{
        padding-top: 20px;
    }
    .logo--footer{
        display: inline-block;
        width: 100px;
    }
    .texto--copyright{
        display: inline-block;
        font-size: 18px;
        color: white;
    }
    .redes--encabezado{
        font-size: 18px;
        padding-top: 25px;
        color: white;
    }
    .redes--sociales{
        display: flex;
        justify-content: space-between;
    }
    .instagram{
        font-size: $font-redes;
    }
    .facebook{
        font-size: $font-redes;
    }
    .youtube{
        font-size: $font-redes;
    }
}
@media only screen and (min-width: 0px) and (max-width: 768px){
    .texto--mapa{
        font: $font-texto;
        text-align: center;
        font-size: 14px;
    }
    .mapa{
        width: 315px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(34,32,32);
        margin-left: 20px;
    }
    .redes--encabezado{
        font: $font-texto;
        text-align: center;
    }
    .logo--footer{
        width: 50%;
        margin-left: 110px;
    }
    .mail--contacto{    
        font: 18px "Montserrat";
        font-weight: bold;
        text-align: center;
        padding: 25px;
    }
}
