// VARIABLES //
$verde: #70d893;
$violeta: #9370d8;
$verdeclaro: #9ae3b3;

.auriculares--logitech{
    padding: 50px;
}
.auriculares--logitech2{
    width: 280px;
    padding: 50px;
}
.col-sm-8{
    padding-top: 40px;
    padding-left: 25px;
}