// VARIABLES //
$verde: #70d893;
$violeta: #9370d8;
$verdeclaro: #9ae3b3;

.imagenes--perifericos{  
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 50px 250px 50px 250px 50px;
    padding: 30px;
    gap: 0px 0px;
    grid-template-areas:
    "auriculareslogitech--galeria auriculareslogitech2--galeria auriculares logitech3--galeria"
    "TEXTO-G733 TEXTO-G635 TEXTO-G332"
    "auriculareslogitech4--galeria auriculareslogitech5--galeria auriculareslogitech6--galeria"
    "TEXTO-G733KDA TEXTO-GPROGAMING TEXTO-G435"
    "auriculareslogitech7--galeria"
    "TEXTO-G335";

    .auriculares--logitech{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech--galeria{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .auriculares--logitech2{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech2--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech3{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech3--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech4{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech4--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech5{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech5--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech6{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech6--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech7{
        width: 170px;
        height: 170px;
        grid-area: "logitech";
        filter: drop-shadow(8px 8px 8px black);
    }
    .auriculareslogitech7--galeria{
        @extend .auriculareslogitech--galeria
    }
}