// VARIABLES //
$verde: #70d893;
$violeta: #9370d8;
$verdeclaro: #9ae3b3;

.imagenes--perifericos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 50px;
    padding: 30px;
    .col-sm-8{
        padding-top: 40px;
        padding-left: 25px;
    }
    .auriculares--logitech{
        width: 140px;
        grid-area: "logitech";
    }
    .auriculareslogitech--galeria{
        display: flex;
        justify-content: center;
    }
    .auriculares--logitech2{
        width: 170px;
        grid-area: "logitech";
    }
    .auriculareslogitech2--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech3{
        width: 170px;
        grid-area: "logitech";
    }
    .auriculareslogitech3--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech4{
        width: 160px;
        grid-area: "logitech";
    }
    .auriculareslogitech4--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech5{
        width: 160px;
        grid-area: "logitech";
    }
    .auriculareslogitech5--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech6{
        width: 160px;
        grid-area: "logitech";
    }
    .auriculareslogitech6--galeria{
        @extend .auriculareslogitech--galeria
    }
    .auriculares--logitech7{
        width: 160px;
        grid-area: "logitech";
    }
    .auriculareslogitech7--galeria{
        @extend .auriculareslogitech--galeria
    }
}